{% extends 'base.html.twig' %}

{% block main %}
    <div id="contenidoPelicula">
        <div class="row">
            <div class=" col l2 hide-on-med-only" style="background-color:blue;">1
            </div>
            <div class="col s12 l8 center">
                <iframe src="//streamango.poseidonhd.io/repro/goto.php?url=b2RYVjB0V2RrbWlXcGFMWHhwREowdEtnbnBobnhORFBrY25NcFpkaW5aQ1N0cE9seUpPS3BaTFZxcnpQMjhha2hINkcyS2U0enJUS2dJaGtpNWVScDhXUzA2dVhxYUxHMktIWDF0TjJwWnVhMDhyUXlRPT0&sub=https%3A%2F%2Fstreamango.poseidonhd.io%2Fsubs%2FMile%252022%25202018%25201080p.srt";
                    width="100%" height="450" frameborder="0" allowfullscreen>
                </iframe>
            </div> 

            <div class="col l2 hide-on-small-only" style="background-color:green;">3
            </div>
            
        </div>
    </div>      

{% endblock %}
