{% extends 'base.html.twig' %}

{% block body %}
    <ul class="list-inline">
        <div class="row">
            {% for item in pelicula %}
            <li>
                <div class="col s2 m2 l2  con_tarjeta" >
                    <div class="card con_tarjeta">
                        <div class="card-image waves-effect waves-block waves-light img_tarjeta">
                            <img class="activator img_tarjeta" src="{{ asset(item.ruta) }}">
                        </div>
                        <div class="card-content con_content">
                            
                        </div>
                        <div class="card-reveal con_sinopsis">
                            <span class="card-title grey-text text-darken-4 "><i class="material-icons right">close</i></span>
                            <p>He.</p>
                        </div>
                    </div>    
                </div>
            </li>
            {% endfor %}
         </div>
    </ul>
{% endblock %}
